@model IEnumerable<HocPhan>

@{
    ViewData["Title"] = "Danh sách học phần";
}

<h2 class="text-center">DANH SÁCH HỌC PHẦN</h2>
<table class="table table-bordered text-center">
    <thead>
        <tr>
            <th>Mã Học Phần</th>
            <th>Tên Học Phần</th>
            <th>Số Tín Chỉ</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hp in Model)
        {
            <tr>
                <td>@hp.MaHP</td>
                <td>@hp.TenHP</td>
                <td>@hp.SoTinChi</td>
                <td>
                    <a asp-controller="GioHang" asp-action="ThemVaoGio" asp-route-maHP="@hp.MaHP" class="btn btn-success btn-sm">Đăng Kí</a>
                </td>
            </tr>
        }
    </tbody>
</table>
